<div>
  <img src='{{image}}' alt='' />
  <input type="button" onclick='location.href="/beer"' value="Check the Beers!"></input>
  <input type="button" onclick='location.href="/random-beer"' value="Check a Random Beer!"></input>
</div>